<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th *ngFor="let column of columns">{{column.title}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items; let i = index">
            <td *ngFor="let column of columns">

                <div *ngIf="editRowIndex === i && column.editable === true; else elseBlock">
                    <input [(ngModel)]="editItem[column.field]" />
                </div>
                <ng-template #elseBlock>
                    {{ item[column.field]}}
                </ng-template>

                
            </td>
            <td>
                <div *ngIf="editRowIndex === i; else elseBlock">
                    <button type="button" class="btn btn-success" (click)="save(item)">Save</button>
                    <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
                </div>
                <ng-template #elseBlock>
                    <button type="button" class="btn btn-primary" (click)="edit(item, i)">Edit</button>
                </ng-template>
                
            </td>
         </tr>
    </tbody>
</table>
